APP_NAME='{{ app_name }}'
JWT_SECRET='{{ jwt_secret }}'
ADMIN_EMAIL='{{ admin_email }}'
DATABASE_URL='{{ db_url_string }}'
RESET_SECRET='{{ reset_secret }}'
FRONTEND_URL='https://{{ app_domain }}'
SMTP_USERNAME='{{ smtp_username }}'
SMTP_PASSWORD='{{ smtp_password }}'
SMTP_SERVER='{{ smtp_server }}'
SMTP_PORT={{ smtp_port }}
SMTP_TLS='{{ smtp_tls }}'
SMTP_SSL='{{ smtp_ssl }}'
