aiofiles
aiosmtplib
bcrypt
beautifulsoup4
cachetools
certifi
cffi
chardet
click
dnspython
email-validator
fastapi
fastapi-mail
fastapi-users
google-auth
h11
httpcore
httptools
httpx
httpx-oauth
idna
makefun
motor
passlib
polib
pyasn1
pyasn1-modules
pycparser
pydantic
PyJWT
pymongo
python-dateutil
python-dotenv
python-multipart
requests
rfc3986
rsa
six
sniffio
soupsieve
starlette
typing-extensions
urllib3
uvicorn
uvloop
websockets
