aiofiles
aiosmtplib
bcrypt
cffi
chardet
click
dnspython
email-validator
fastapi
fastapi-mail
fastapi-users
h11
httpcore
httptools
httpx
httpx-oauth
idna
makefun
motor
passlib
polib
pycparser
pydantic
PyJWT
pymongo
python-dateutil
python-dotenv
python-multipart
six
starlette
uvicorn
uvloop
websockets
